*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  border: 5px solid black;
  width: 200px;
  height: 200px;
  position: relative;
  float: left;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.container--small {
  width: 200px;
}

.container--large {
  background-color: gray;
  width: 400px;
}

.block {
  height: 50%;
  width: 50%;
  display: flex;
  color: rgba(255, 255, 255, 0.993);
  font-size: 40px;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.block--1 {
  background-color: green;
  top: 0;
  left: 0;
}

.block--2 {
  background-color: white;
  top: 0;
  left: 50%;
}

.block--3 {
  background-color: black;
  top: 50%;
  left: 0;
}

.block--4 {
  background-color: red;
  top: 50%;
  left: 50%;
}

.block--5 {
  background-color: blue;
  width: 25%;
  left: 0;
  bottom: 0;
  transform: translate(-50%, 50%);
  z-index: -1;
}

.block--6 {
  background-color: blue;
  width: 25%;
  left: calc(50% - 90px);
  bottom: 0px;
  transform: translate(0%, 50%);
  z-index: 1;
}

.block--7 {
  background-color: blue;
  width: 25%;
  bottom: 0px;
  transform: translate(270%, 50%);
  z-index: -1;
}

.block--8 {
  background-color: red;
  margin-left: 30px;
  margin-top: 30px;
  height: calc(100% - 60px);
  width: calc(100% - 60px);
}

.wallpaper {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../assets/wall.jpg);
  background-color: rgb(244, 164, 96);
  background-position: center;
  background-size: cover;

  width: 100vw;
  height: 100vh;
}

.menu {
  display: flex;
}

.item {
  width: 260px;
  height: 260px;
  padding: 2px;
}

.item--1:hover {
  outline: 2px solid black;
}

.item--1:hover .above {
  background-color: yellow;
}

.above {
  background-color: rgb(148, 56, 28);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.link-above {
  color: #000;
}

.below {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-below {
  max-width: 100%;
  height: 140px;
}

/* Временное Оформление */
.wrapper {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: auto;
}

/* carousel */
.carousel {
  height: 100px;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  background-color: white;
  position: relative;
}

.carousel::before,
.carousel::after {
  content: "";
  height: 100px;
  width: 200px;
  background-color: tomato;
  position: absolute;
  z-index: 1;
  top: 0;

  background: linear-gradient(to right, #ffffff 0%, transparent 100%);
}

.carousel::before {
  left: 0;
}
.carousel::after {
  right: 0;
  transform: rotate(180deg);
}

.slide {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin: 0 40px;
  animation: slideshow 30s linear infinite;
}

.slide__image {
  width: auto;
  height: calc(100% - 40px);
}

@keyframes slideshow {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.navigation {
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 20px;
}

.logo h1 {
  color: #94381c;
}

.logo h1 span {
  font-weight: 800;
  color: #0b82fb;
}

.navigation__item {
  list-style: none;
  display: inline-block;
  margin-left: 50px;
}

.navigation__item a {
  color: rgba(0, 0, 0, 0.74);
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
}
